.title {
  margin: 50px 0 25px;
}

.btn {
  cursor: pointer;
}

.error {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

/** modal **/
.modal {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, .5);
}

.fade.show {
  opacity: 1;
}

.modal.show {
  display: block;
}

.modal-header {
  background-color: #f7f7f9;
}
